.appbar{
  position: fixed;
  top: 0;
}

.icon-help{
  background-image: url('icons/help.png');
  width: 33px;
  height: 32px;
  background-repeat: no-repeat;
}

.icon-call{
  background-image: url('icons/call.png');
  width: 33px;
  height: 32px;
  background-repeat: no-repeat;
}

.icon-back{
  background-image: url('icons/back.png');
  width: 33px;
  height: 32px;
  background-repeat: no-repeat;
}

.button-secondary{
    text-align: center;
    padding: 1% 5% 1% 5%;
}
.button-padding-top{
  padding-top: 5%;
}

#Cost{
  margin-right: 10px;
  float: right;
}
