body{
  margin: 0px 0px 0px 0px;
}

.appbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.main {
  margin-top: 64px;
}

.notification {
  z-index: 10;
  left: 10%;
  right: 10%;
  top: 45px;
  max-height: 80%;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;
}

.icon-help{
  background-image: url('icons/help.png');
  width: 33px;
  height: 32px;
  background-repeat: no-repeat;
}

.icon-call{
  background-image: url('icons/call.png');
  width: 33px;
  height: 32px;
  background-repeat: no-repeat;
}

.icon-back{
  background-image: url('icons/back.png');
  width: 33px;
  height: 32px;
  background-repeat: no-repeat;
}

.icon-notification{
  background-image: url('icons/notification.png');
  width: 33px;
  height: 32px;
  background-repeat: no-repeat;
}

.button-secondary{
  text-align: center;
  padding: 1% 5% 1% 5%;
}

.padding-top {
  padding-top: 4%;
}

.padding-bottom {
  padding-bottom: 4%;
}

.padding-left{
  padding-left: 4%;
}

.padding-left-right{
  padding-left: 5%;
  padding-right: 5%;
}

.padding-left-right-top{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 4%;
}

.title{
  font-weight: bold;
}

.numNotification {
  top: -15px;
  left: -29px;
  position: relative;
  color: red;
}

#Cost,#hoursNumber{
  margin-right: 10px;
  float: right;
}

.floatingPoint{
  color: #fff;
  position: fixed !important;
  bottom: 5%;
  right: 5%;
  box-shadow: 1px 5px 30px grey;
  z-index: 11;
}
#checkAccept{
  display: inline-block;
  margin-top: 16px;
}
#functionButton{
  display: inline-table;
}

#userInformation{
  margin-top: 20px;
}
.itemCenter{
  margin-left: auto;
  margin-right: auto;
  display:inherit;
  margin-top: 4%;
}
.hide{
  display: none;
}

.dpDate{
  width: 45% !important;
  float: left;
  margin-right: 10%;
}

.dpTime{
  width: 45% !important
}

#btnLogin{
  background-color: #dfdfdf !important;
}
