body{
  margin: 0px 0px 0px 0px;
}

.appbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.tabStrip {
  position: fixed;
  top: 64px;
}

.main {
  margin-top: 64px;
}

.notification {
  z-index: 10;
  margin-left: 10%;
  margin-right: 10%;
  top: 45px;
  max-height: 80%;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;
}

.icon-help{
  background-image: url('icons/help.png');
  width: 33px;
  height: 32px;
  background-repeat: no-repeat;
}

.icon-call{
  background-image: url('icons/call.png');
  width: 33px;
  height: 32px;
  background-repeat: no-repeat;
}

.icon-back{
  background-image: url('icons/back.png');
  width: 33px;
  height: 32px;
  background-repeat: no-repeat;
}

.icon-notification{
  background-image: url('icons/notification.png');
  width: 33px;
  height: 32px;
  background-repeat: no-repeat;
}

.button-secondary{
    text-align: center;
    padding: 1% 5% 1% 5%;
}

.padding-top {
  padding-top: 4%;
}

.padding-bottom {
  padding-bottom: 4%;
}

.padding-left{
  padding-left: 4%;
}

.padding-left-right{
  padding-left: 5%;
  padding-right: 5%;
}

.title{
  font-weight: bold;
  color: blue;
}

#Cost,#hoursNumber{
  margin-right: 10px;
  float: right;
}

.floatingPoint{
  color: #fff;
  position: fixed !important;
  bottom: 10%;
  right: 10%;
}
